EFFECTIVE HEART DISEASE PREDICTION USING IBM AUTO AI SERVICE.json
[{"id":"43038f9a98f80984","type":"tab","label":"HFPM DASHBAORD","disabled":false,"info":""},{"id":"4a53fc44d39eb2e6","type":"debug","z":"43038f9a98f80984","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":130,"y":320,"wires":[]},{"id":"850137cdc21e97b6","type":"function","z":"43038f9a98f80984","name":"pre-token","func":"global.set(\"hb\",msg.payload.hb)\nglobal.set(\"ppd\",msg.payload.ppd)\nglobal.set(\"ch\",msg.payload.ch)\nglobal.set(\"bm\",msg.payload.bm)\nglobal.set(\"ag\",msg.payload.ag)\nglobal.set(\"s\",msg.payload.s)\nglobal.set(\"fh\",msg.payload.fh)\nglobal.set(\"sm\",msg.payload.sm)\nglobal.set(\"em\",msg.payload.em)\n\nvar apikey=\"eS-zgKaAXoc8mLKgcJMR5qetvDWokzBJ9TMeJNyutG9w\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":140,"y":160,"wires":[["b71d3e5a11f48aa2"]]},{"id":"b71d3e5a11f48aa2","type":"http request","z":"43038f9a98f80984","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":350,"y":160,"wires":[["d63110ecdbf8514a","5ac4326edf239ac6"]]},{"id":"d63110ecdbf8514a","type":"debug","z":"43038f9a98f80984","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":260,"wires":[]},{"id":"5ac4326edf239ac6","type":"function","z":"43038f9a98f80984","name":"Pre Prediction","func":"var hb = global.get(\"hb\")\nvar ppd = global.get(\"ppd\")\nvar ch = global.get(\"ch\")\nvar bm = global.get(\"bm\")\nvar ag = global.get(\"ag\")\nvar s = global.get(\"s\")\nvar fh = global.get(\"fh\")\nvar sm = global.get(\"sm\")\nvar em = global.get(\"em\")\n\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\":[\"AVGHEARTBEATSPERMIN\",\"PALPITATIONSPERDAY\",\"CHOLESTEROL\",\n                \"BMI\",\"AGE\",\"SEX\",\"FAMILYHISTORY\",\"SMOKERLAST5YRS\",\"EXERCISEMINPERWEEK\"],\n                \"values\":[[hb,ppd,ch,bm,ag,s,fh,sm,em]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":60,"wires":[["44f6b03636f5ad77"]]},{"id":"a71fbf29d5e5431d","type":"debug","z":"43038f9a98f80984","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":140,"wires":[]},{"id":"e968714d8397fce8","type":"inject","z":"43038f9a98f80984","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":80,"wires":[["850137cdc21e97b6"]]},{"id":"f114838fae876de4","type":"debug","z":"43038f9a98f80984","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":60,"wires":[]},{"id":"ee110dc1e4fd5649","type":"function","z":"43038f9a98f80984","name":"Parsing","func":"if (msg.payload.predictions[0].values[0][0] == 'N')\n    {\n        msg.probablity = msg.payload.predictions[0].values[0][1][0];\n        msg.payload = \"Not at Risk\";\n    }\nelse \n    {\n        msg.probability = msg.payload.predictions[0].values[0][1][1];\n        msg.payload = \"At Risk\";\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":80,"wires":[["f114838fae876de4","eeac665abf341032"]]},{"id":"eeac665abf341032","type":"ui_text","z":"43038f9a98f80984","group":"80c2766c.ace4c8","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1060,"y":100,"wires":[]},{"id":"a8a55646558fa3cf","type":"ui_form","z":"43038f9a98f80984","name":"","label":"","group":"80c2766c.ace4c8","order":1,"width":0,"height":0,"options":[{"label":"AVERAGE HEART BEATS ( Per Minute )","value":"hb","type":"number","required":true,"rows":null},{"label":" PALPITATIONS PER DAY","value":"ppd","type":"number","required":true,"rows":null},{"label":"CHOLESTEROL","value":"ch","type":"number","required":true,"rows":null},{"label":"BMI","value":"bm","type":"number","required":true,"rows":null},{"label":"AGE","value":"ag","type":"number","required":true,"rows":null},{"label":"SEX (M or F)","value":"s","type":"text","required":true,"rows":null},{"label":"FAMILY HISTORY (Y or N)","value":"fh","type":"text","required":true,"rows":null},{"label":"SMOKER ( In Last 5 Years : Y or N )","value":"sm","type":"text","required":true,"rows":null},{"label":"EXERCISE ( Minutes Per Week )","value":"em","type":"number","required":true,"rows":null}],"formValue":{"hb":"","ppd":"","ch":"","bm":"","ag":"","s":"","fh":"","sm":"","em":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"","topicType":"str","splitLayout":false,"className":"","x":110,"y":240,"wires":[["4a53fc44d39eb2e6","850137cdc21e97b6"]]},{"id":"e2ce22b5e1d9f3fd","type":"ui_text","z":"43038f9a98f80984","group":"80c2766c.ace4c8","order":2,"width":0,"height":0,"name":"","label":"Score","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1050,"y":240,"wires":[]},{"id":"63b05dde65336c83","type":"debug","z":"43038f9a98f80984","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":200,"wires":[]},{"id":"28c63606ac68cc69","type":"function","z":"43038f9a98f80984","name":"","func":"if (msg.payload.predictions[0].values[0][0] == 'N')\n    {\n        msg.payload = msg.payload.predictions[0].values[0][1][0];\n       \n    }\nelse \n    {\n        msg.payload = msg.payload.predictions[0].values[0][1][1];\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":220,"wires":[["63b05dde65336c83","e2ce22b5e1d9f3fd"]]},{"id":"44f6b03636f5ad77","type":"http request","z":"43038f9a98f80984","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/bf913921-8d98-465d-b8c7-93b5d98c8e2f/predictions?version=2022-08-06","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":730,"y":140,"wires":[["a71fbf29d5e5431d","ee110dc1e4fd5649","28c63606ac68cc69"]]},{"id":"80c2766c.ace4c8","type":"ui_group","name":"Default","tab":"129cfec8363d6e29","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"129cfec8363d6e29","type":"ui_tab","z":"b7b89640d5abb582","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false}]